#header__image__team {
  background-image: url("../img/about-us-1.jpg");
}

#header__image__about {
  background-image: url("../img/about-us.jpg");
}

.service-intro__image {
  background-image: url("../img/Print-Design-Aegis-Brochure-Illustration.jpg");
}

#website_build_success {
  background-color: #83429a;
}

#website_build_success_arrow {
  border-bottom-color: #83429a;
}

#website_build_growth {
  background-color: #a68955;
}

#website_build_growth_arrow {
  border-top-color: #a68955;
}

#website_build_inbound {
  background-color: #bf0000;
}

#website_build_inbound_arrow {
  border-bottom-color: #bf0000;
}

#brand__dragons {
  background-color: #30759a;
}

#brand__dragons__arrow {
  border-bottom-color: #30759a;
}

#brand__angel {
  background-color: #a5302b;
}

#brand__angel__arrow {
  border-top-color: #a5302b;
}

#brand__backing {
  background-color: #1a1e39;
}

#brand__backing__arrow {
  border-bottom-color: #1a1e39;
}

#brochure__header__background {
  background-image: url("../img/service-brochures-header.jpg");
}

#why_work_with_us {
  background-image: url("../img/why-work-with-us.jpg");
}

#iframe__why_work_with__us {
  display: none;
  width: 0px;
  height: 0px;
}
